<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1.1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=" "/>
    <meta name="description" content=" "/>
    <meta http-equiv="Content-Language" content="utf-8" />
    
    <script type="text/javascript" src="/media/js/jquery-1.5.min.js"></script>

    <script>
    </script>
    
    <title> Bamboo </title>
</head>

<body>

<div class="container">
	Welcome to Bamboo。

</div>
    


</body>
</html>
