@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { padding:0; margin:0; font-size:12px; line-height:100%; font-family:Arial, sans-serif;}

ul, ol { list-style:none;}
img { border:0;}

body {
	margin:	0;
	text-align:center;
	background:	#FFF url(../default/images/login_bg.jpg) top no-repeat fixed;
	padding :0;
}

#login { display:block; width:950px; margin:0 auto; text-align:left;}

#login_content { display:block; position:relative;}
.login_title {
	display:block;
	padding: 30px 0;
	text-align: center;
	font-size: 25px;
}
.loginForm {
	display:block;
	width:300px;
	padding:40px 20px 0 20px;
	position:absolute;
	right:40px;
	top: 100px;
}
.loginForm p { margin:10px 0;}
.loginForm label { float:left; width:100px; padding:0 0 0 10px; line-height:25px; color:#4c4c4c; font-size:14px;}
.loginForm input { padding:3px 2px; border-style:solid; border-width:1px; border-color:#80a5c4;}
.loginForm .login_input {}
.loginForm .code { float:left; margin-right:5px;}
.login_bar {
	text-align:center;
	padding: 20px 112px;
}
.login_bar .sub {
	display:block;
	width:75px;
	height:30px;
	border:none;
	background:url(../default/images/login_sub.png) no-repeat;
	cursor:pointer;
}

#login_footer {
	clear:both;
	display:block;
	margin-bottom:20px;
	padding:10px;
	margin-top: 40px;
	border-top:solid 1px #e2e5e8;
	color:#666;
	text-align:center;
}
