<script type="text/javascript">
	$(function(){
		var curTab = $('.page:visible')
		$('#delSel', curTab).click(function(){
			alertMsg.confirm("Are you sure you want to delete those records?", {
				okCall: function(){
					$.post('/admin/deleteselect', $('#formInstance', curTab).serialize(), function(ret){
						navTab.reload();
					});
				}
			});						
		});
	});
</script>
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" action="/admin/filter" method="post">
	<input type="hidden" name="__tag" value="{{__tag}}" />
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="20" />
	<div class="searchBar">
	  <table class="searchContent">
		<tr>
		  <!-- <td>Filter parameters:</td> -->
		  <!-- <td><input type="text" name="filterParams" value="{{filterParams}}" readOnly="readonly"/></td> -->
		  <td>
			<select name="filterField">
			  {% for field, v in pairs(fields) do %}
			  {% if not v.foreign then %}
			  <option{% if filterField == field then %} selected {% end %}>{{field}}</option>
			  {% end %}
			  {% end %}
			</select>
		  </td>
		  <td>
			<select name="operator">
			  {% for k, v in pairs(operators) do %}
			  <option value={{k}}{% if k == operator then %} selected {% end %}>{{v}}</option>
			  {% end %}
			</select>
		  </td>
		  <td><input type="text" name="value" value="{{value}}" /></td>
		</tr>
	  </table>
	  <div class="subBar">
		<ul>
		  <li><a class="button" href="/admin/filter?__tag={{__tag}}&pageNum=1&numPerPage=20" target="navTab" rel="{{__tag}}" title="{{__tag}}"><span>All</span></a></li>
		  <li><div class="buttonActive"><div class="buttonContent"><button type="submit">Filter!</button></div></div></li>
		  <!-- <li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框"><span>高级检索</span></a></li> -->
		</ul>
	  </div>
	</div>
  </form>
</div>
<div class="panelBar">
  <ul class="toolBar">
	<li><a class="add" href="/admin/add?__tag={{__tag}}" target="navTab" rel="{{__tag}}_add" title="{{__tag}}_add"><span>Add</span></a></li>
	<li><a class="edit" href="/admin/edit?__tag={{__tag}}&id={instance_id}" target="navTab" rel="{{__tag}}_edit" title="{{__tag}}_edit"><span>Edit</span></a></li>
	<li><a class="delete" href="/admin/delete?__tag={{__tag}}&id={instance_id}" target="ajaxTodo" title="真的要删除吗？" rel="{{__tag}}_delete" title="{{__tag}}_edit"><span>Delete</span></a></li>
	<li><a class="delete" href="javascript:;" id="delSel"><span>Delete selected</span></a></li>
  </ul>
</div>
<!-- <div class="tableList" layouth="25"> -->
<form id="formInstance">
  <input type="hidden" name="__tag" value="{{__tag}}" />
  <table class="table" layouth="138">
	<thead>
	  <tr>
		<th width="30"><input type="checkbox" class="checkboxCtrl" group="instances[]"/></th>
		<th width="50">id</th>
		{% for field, fdt in pairs(fields) do %}
		{% if not fdt.foreign then %}
		<th width="100">{% if fdt.caption then %}{{fdt.caption}}{% else %}{{field}}{% end %}</th>
		{% end %}
		{% end %}
	  </tr>
	</thead>
	<tbody>
	  {% for i, instance in ipairs(instances) do %}
	  <tr target="instance_id" rel="{{instance.id}}">
		<td><input type="checkbox" name="instances[]" value="{{instance.id}}"/></td>
		<td>{{instance.id}}</td>
		{% for k, fdt in pairs(fields) do %}
		{% if not fdt.foreign then %}
		<td>{{instance[k]}}</td>
		{% end %}
		{% end %}
	  </tr>
	  {% end %}
	</tbody>
  </table>
</form>
<!-- </div> -->
<div class="panelBar">
  <form id="pagerForm" action="/admin/filter" method="post">
	<input type="hidden" name="pageNum" value="1" /><!--【必须】value=1可以写死-->
	<input type="hidden" name="numPerPage" value="{{numPerPage}}" /><!--【可选】每页显示多少条-->
	<input type="hidden" name="__tag" value="{{__tag}}" /><!--【可选】查询排序-->
	<input type="hidden" name="status" value="active" />
	<!-- <input type="hidden" name="filterParams" value="{{filterParams}}" /> -->
	<input type="hidden" name="operator" value="{{operator}}" />
	<input type="hidden" name="filterField" value="{{filterField}}" />
	<input type="hidden" name="value" value="{{value}}" />
  </form>
  <div class="pages">
	<span>{{totalCount}} records / {{totalPage}} pages</span>
  </div>
  <div class="pagination" targetType="navTab" totalCount="{{totalCount}}" numPerPage="{{numPerPage}}" pageNumShown="{{pageNumShown}}" currentPage="{{currentPage}}"></div>
</div>
