<h2 class="contentTitle">面板</h2>


<div class="pageContent" layoutH="42">

	<div class="panel" defH="150">
		<h1>不可折叠面板1</h1>
		<div>内容</div>
	</div>
	
	<div style="clear:both;"></div>
	
	<div class="panel close collapse" defH="150">
		<h1>可折叠默认关闭面板</h1>
		<div>
			<p>内容</p>
			<p>内容</p>
			<p>内容</p>
		</div>
	</div>
	<br/>
	<div class="panel collapse" minH="100" defH="150">
		<h1>可折叠默认打开面板</h1>
		<div>
			<p>内容</p>
			<p>内容</p>
			<p>内容</p>
		</div>
	</div>

</div>
