<form action="/admin/update" class="required-validate pageForm" onsubmit="return validateCallback(this, navTabAjaxDone)" id="formEdit">
  <div class="pageFormContent nowrap" style="overflow:auto" layouth="56">
	{% if instance.__tag:startsWith('Bamboo.Model.Upload') then %}
	{% attached_upload = {editable=false} %}
	{% end %}
	{{instance:toHtml{
	format=[[<dl><dd>$label$widget$help</dd></dl><div class="divider"></div>]], 
	attached=attached_upload or {},
	}}}
	
	<input type="hidden" name="__tag" value="{{__tag}}" />
	<input type="hidden" name="id" value="{{instance_id}}" />
  </div>
  <div class="formBar">
	<ul>
	  <li>
		<div class="buttonActive">
		  <div class="buttonContent">
			<button type="submit">Submit</button>
		  </div>
		</div>
	  </li>
	  <li>
		<div class="button">
		  <div class="buttonContent">
			<button type="button" class="close">Cancel</button>
		  </div>
		</div>
	  </li>
	  <li>
		<div class="button">
		  <div class="buttonContent">
			<button type="reset">Reset</button>
		  </div>
		</div>
	  </li>
	</ul>
  </div>
</form>
